{
    "presets": [
        ["es2015", {
            "modules": false
        }],
        "react",
        "stage-0"
    ],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        },
        "test": {
            "plugins": ["istanbul"]
        }
    },
    "plugins": [
        "ramda",
        "transform-runtime",
        "transform-decorators-legacy",
        "transform-flow-strip-types"
    ]
}
