.footer {
    color: #777;
    padding: 10px 15px;
    border-top: 1px solid #e6e6e6;
}

.clear-link {
    float: right;

    a {
        text-decoration: none;
        color: #777;
    }
}

.filters {
    padding: 0 10px 0 60px;
}
